/* Keep it visually consistent with Foundry's small dice/controls buttons */
.dr-quick-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
}

.dr-quick-button-container {
  margin: 0px 10px;
}

.vertical .dr-quick-button-container {
  margin: 10px 0px;
}